[Unit]
Description=Prepare PLANK Bluetooth relay hardware
After=local-fs.target systemd-udevd.service
Before=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/lib/plank-avp-relay/plank-avp-relay-hardware
TimeoutStartSec=45
RemainAfterExit=yes
